<component name="ArtifactManager">
  <artifact type="war" name="Mybatis_Electric_Mall:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springBoot-Jsp-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="Mybatis_Electric_Mall:war exploded" />
    </root>
  </artifact>
</component>